{% extends "base.html" %}

{% block title %}Generated Password{% endblock %}

{% block content %}
  <h1>Generated Password</h1>
  <div class="password-container">
    <p>Your new password is:</p>
    <div class="password" onmouseover="revealPassword()" onmouseout="hidePassword()">
      <input type="text" id="password" value="{{ password }}" readonly>
    </div>
  </div>
  <script>
    function revealPassword() {
      var passwordInput = document.getElementById("password");
      passwordInput.type = "text";
    }

    function hidePassword() {
      var passwordInput = document.getElementById("password");
      passwordInput.type = "password";
    }
  </script>
{% endblock %}
